<?xml version="1.0"?>
<repo>
    <local>
        <url repo="maven">/Users/RexNJC/.m2/repository</url>
        <url repo="gradle">/Users/RexNJC/.gradle/caches/modules-2/files-2.1</url>
    </local>

    <remote>
        <url repo="jcenter">http://jcenter.bintray.com</url>
        <url repo="maven">https://repo.maven.apache.org/maven2/</url>
        <url repo="maven">http://mvn.test.alipay.net/artifactory/content/groups/alipay-mobile/</url>
    </remote>
</repo>