<?xml version="1.0"?>
<repo>
    <local>
        <maven>/Users/RexNJC/.m2/repository</maven>
        <gradle>/Users/RexNJC/.gradle/caches/modules-2/files-2.1</gradle>
    </local>

    <remote>
        <url repo="jcenter">http://jcenter.bintray.com</url>
        <url repo="mavenCenter">https://repo.maven.apache.org/maven2/</url>
    </remote>
</repo>